# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.gz

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.uni
*.vdb

# Executables
*.exe
*.out
*.app

#Images
*.png
*.jpeg
*.jpg
*.tif
*.exr
*.hdr

#Videos
*.mp4
*.mkv

# Substance Painter
*.spp

# Google Maps Packages
*.gpkg

# Course Files
*.7z
*.ts
*.ZTL
Concept/Concept_001.blend
Models 2k21/Alternate Realities Starter Pack v1.rar
Models 2k21/Alternate Realities Starter Pack v1/_WATCH ME FIRST!!!.mov
Models 2k21/Alternate Realities Starter Pack v1/Alternate Realities FAQ v1.rtf
Models 2k21/Alternate Realities Starter Pack v1/readme.txt
Models 2k21/Alternate Realities Starter Pack v1/3D Templates/3DS Max Template_Alternate Realities v1.max
Models 2k21/Alternate Realities Starter Pack v1/3D Templates/Blender Template_Alternate Realities v1.blend
Models 2k21/Alternate Realities Starter Pack v1/3D Templates/Cinema4D Template_Alternate Realities v1.c4d
Models 2k21/Alternate Realities Starter Pack v1/3D Templates/FBX Template_Alternate Realities v1.fbx
Models 2k21/Alternate Realities Starter Pack v1/3D Templates/Houdini Template_Alternate Realities v1.zip
Models 2k21/Alternate Realities Starter Pack v1/3D Templates/Maya Template_Alternate Realities v1.mb
Models 2k21/Alternate Realities Starter Pack v1/3D Templates/Unreal Engine Template_Alternate Realities v1.zip
Models 2k21/Black Hole/bh_00.blend
Models 2k21/Black Hole/bh_01.blend
Models 2k21/Sakura in a Ball/Sakura_00.blend
Models 2k21/Sakura in a Ball/Sakura_01.blend
Practice/gmaps_trial.blend
Practice/Molecular.blend
Practice/Old_Tree.blend
Practice/Animation/Abi_Trial_00.blend
Practice/Animation/Pose.blend
Models 2k21/Alternate Realities Starter Pack v1/
Models 2k21/The God Killer/
Models 2k21/89-challenger/
Models 2k21/Motion Miracles Test/
Classroom/
Kristof Dedene/
Modelling/
Models 2k21/Anime Classroom/
Models 2k21/Landscape/
Procedural/pro/
Workshop/
Procedural/blendcache_rain/
Models 2k22/Reference/
Models 2k21/Sid.blend
Procedural/Tut Files/
Models 2k22/Renders/
Models 2k22/Realistic_Yumi/Reference/glasses.zip
Models 2k22/Realistic_Yumi/Reference/source/model/model.dae
Models 2k22/Realistic_Yumi/Reference/source/model.zip
Models 2k22/Realistic_Yumi/MetaHuman/
Models 2k22/Realistic_Yumi/MetaHumanTrial.blend
Models 2k22/Base Human Body/Reference/
Models 2k22/Game Ready Hair/Exports/
Models 2k22/Game Ready Hair/hairCards.blend
